@font-face {
    font-family: 'glyphworldmountain';
    src: url('glyphworld-mountain-webfont.woff2') format('woff2'),
         url('glyphworld-mountain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  margin:10%;
  font-family: 'glyphworldmountain', cursive;
}
p{
  width:420px;
}

img{
  width:100%;
}
